#contact {
    background-color: var(--light-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact .contactContainer {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

#contact .contactInfos {
    display: flex;
    flex-direction: row;
}

#contact .contactContainer .contactText h1 {
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

#contact .contactForm form {
    display: flex;
    flex-direction: column;
}

#contact .contactForm form input {
    margin: 10px 0;
    border-radius: 8px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--dark-color);
    background-color: var(--light-color);
    padding: 5px;
}

#contact .contactForm form input:hover {
    border-bottom: 2px solid red;
}

#contact img {
    width: 450px;
    margin-right: 30px;
}

@media screen and (max-width: 576px) {
    #contact .contactContainer {
        margin: auto;
    }
    #contact .contactInfos {
        flex-direction: column;
    }
    #contact .contactContainer .contactText h1 {
        margin-bottom: 50px;
    }
    #contact .contactForm form {
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    #contact .contactForm form input {
        width: 300px;
    }
    #contact .contactImg {
        width: 300px;
    }
    #contact .contactImg img {
        justify-content: center;
        width: 300px;
        margin-right: 0px;
        margin-bottom: 50px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #contact {
        flex-direction: column;
        justify-content: center;
    }
    #contact img {
        width: 300px;
    }
}